<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=/QcEwP85AgNE4pnL5mWSM">
    <link rel="stylesheet" href="./css/boka.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div class="bif">
        
    </div>
    <div class="kola">
        <div>
            <div>
                <div class="towpa">
                    <img src="./img/mogo.svg" alt="">
                    <p class="pp1">universo</p>
                </div>
            </div>
        </div>
    
    
        
    
    </div>
    <div style="display: grid; justify-content: center; text-align: center; margin-bottom: 100px; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.53); position: absolute; top: 0;z-index: 5;
    align-content: space-evenly;">
        <img style="width: 140px; justify-self: center; margin-top: 100px; margin-bottom: 20px;"  src="./img/roll.svg" alt="">
    
    </div>

    

    <script src="./js/stb.js"></script>
</body>
</html>